.game-helps{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.help{
    display: flex;
    align-items: center;
    color: #FFF;
    margin-bottom: 10px;
    width: fit-content;
    
    .touche{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #FFF;
        border-radius: 5px;
        padding: 5px;
        font-size: 1.5rem;
        font-weight: 800;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        transition: 0.3s;
        cursor: pointer;

        &:hover{
            background-color: #FFF;
            color: #87cefa;
            transform: scale(1.1);
        }
    }
}

.island-link {
    /* Styles pour vos liens */
    text-decoration: none;
    color: blue;
    /* Ajoutez d'autres styles selon vos besoins */
}
