.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px); /* Applique un flou au fond */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 1s ease; /* Ajoute une transition pour le fondu */
}

.loader.hidden {
    opacity: 0;
    pointer-events: none; /* Désactive les événements sur le fond masqué */
}

.loaderTitle
{
    font-size: 50px;
    color: #fff;
}